/Lab6/nbproject/private/
/Lab6/build/
/Lab6-/nbproject/private/
/Lab6-/build/
/Lab6-/dist/
/Lab7/nbproject/private/
/Exmidterm/nbproject/private/
/Exmidterm/build/
/Lab7/build/
/Lab07-01/nbproject/private/
/Lab07-01/build/
/Lab07-03/nbproject/private/
/Lab08-01/nbproject/private/
/Lab08-01/build/
/Lab08-04/nbproject/private/
/Lab08-04/build/
/Lab08-03/nbproject/private/
/Lab8/Lab08-03/nbproject/private/
/Lab8/Lab08-04/build/
/Lab8/Lab08-04/nbproject/private/
/Lab8/Lab08-05/nbproject/private/
/Lab8/Lab08-05/build/
/Lab8/Lab08-06/nbproject/private/
/Lab8/Lab08-06/build/
