/Lab6/nbproject/private/
/Lab6/build/
/Lab6-/nbproject/private/
/Lab6-/build/
/Lab6-/dist/
/Lab7/nbproject/private/
/Exmidterm/nbproject/private/
/Exmidterm/build/
/Lab7/build/
/Lab07-01/nbproject/private/
/Lab07-01/build/
/Lab07-03/nbproject/private/
